# Data files (Exclude large raw and cleaned datasets from Git)
*.csv
*.xlsx
cleaned_data/

# Model files (Exclude large binary models from Git)
models/
*.pkl
*.joblib
*.pb
*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv/
.gcov/
.lcov/
metadata.db
databases/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS files
.DS_Store

# Temporary / OS generated
Thumby.db
ehthumbs.db
desktop.ini

# Antigravity agent temp folder
.gemini/
